<ul id="g3w_raster_timeseries_content" class="treeview-menu" style="position:relative; padding: 10px;color:#FFFFFF">
  <li>
    <form v-disabled="status === 1">
      <label style="display: block">Layer</label>
      <select class="form-control" id="timeseriesrasterlayer" v-select2="'current_layer_index'" :search="false">
        <option v-for="(layer, index) in layers" :value="index" :key="layer.id">{{layer.name}}</option>
      </select>
      <datetime :label="'plugins.qtimeseries.startdate'" :minDate="layer.start_date" :maxDate="layer.end_date" :type="'datetime'" :value="layer.start_date" @change="changeStartDateTime"></datetime>
      <datetime :label="'plugins.qtimeseries.enddate'" :minDate="layer.start_date" :maxDate="layer.end_date" :type="'datetime'" :value="layer.end_date" @change="changeEndDateTime"></datetime>
      <label v-t-plugin="'qtimeseries.step'"></label>
      <input class="form-control" type="number" :min="range.min" :max="range.max" v-model="step">
      <label style="display: block" v-t-plugin="'qtimeseries.stepsunit.label'"></label>
      <select class="form-control" v-select2="'stepunit'" :value="stepunit" :search="false">
        <option v-for="unit in stepunits" :key="unit" :value="unit" v-t-plugin="`qtimeseries.stepsunit.${unit}`"></option>
      </select>
      <range label="plugins.qtimeseries.steps" :max="range.max" :value="range.value" :min="range.min" ref="rangecomponent"></range>
    </form>
    <button v-disabled="disablerun" id="g3w-run-raster-timeseries" style="margin-top: 10px" class="sidebar-button skin-button btn btn-block" @click.stop="click">
      <span :class="g3wtemplate.getFontClass(icon)" style="color: #FFFFFF"></span>
    </button>
  </li>
</ul>

