{
  "presets": [
    ["env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    "transform-remove-strict-mode",
    "transform-object-rest-spread"
  ]
}
